/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SEQFU_CHECK {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv",
                saveAs: {"${meta.id}_seqfu.tsv"}
            ]
        ]
    }

    withName: FASTQSUFFIXHEADERCHECK {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.json"
            ]
        ]
    }

    withName: "AMPLICON_PIPELINE:READS_QC_MERGE:FASTP" {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename ->
                    {
                        if ((meta.single_end && filename.contains(".fastp.fastq.gz")) ||
                            (!meta.single_end && filename.contains(".merged.fastq.gz"))) {
                            return filename;
                        } else {
                            return null;
                        }
                        }
                    }
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.json"
            ]
        ]

        ext.args = [
            '--cut_front_window_size 1',   // Equivalent of Trimmomatic LEADING window size
            '--cut_tail_window_size 1',    // Equivalent of Trimmomatic TRAILING window size
            '--cut_front 3',               // Equivalent of Trimmomatic LEADING quality threshold (3)
            '--cut_tail 3',                // Equivalent of Trimmomatic TRAILING quality threshold (3)
            '--cut_right',                 // Equivalent of Trimmomatic SLIDINGWINDOW
            '--cut_right_window_size 4',   // Equivalent of Trimmomatic SLIDINGWINDOW window size (4)
            '--cut_right_mean_quality 15', // Equivalent of Trimmomatic SLIDINGWINDOW mean quality (15)
            '-l 100'                       // Filter out reads smaller than 100 bases
        ].join(' ');
    }

    withName: "AMPLICON_PIPELINE:READS_QC:FASTP" {
        ext.args = [
            '--cut_front_window_size 1',   // Equivalent of Trimmomatic LEADING window size
            '--cut_tail_window_size 1',    // Equivalent of Trimmomatic TRAILING window size
            '--cut_front 3',               // Equivalent of Trimmomatic LEADING quality threshold (3)
            '--cut_tail 3',                // Equivalent of Trimmomatic TRAILING quality threshold (3)
            '--cut_right',                 // Equivalent of Trimmomatic SLIDINGWINDOW
            '--cut_right_window_size 4',   // Equivalent of Trimmomatic SLIDINGWINDOW window size (4)
            '--cut_right_mean_quality 15', // Equivalent of Trimmomatic SLIDINGWINDOW mean quality (15)
            '-l 100'                       // Filter out reads smaller than 100 bases
        ].join(' ');
    }

    withName: SEQTK_SEQ {
        ext.args = '-a'
    }

    withName: INFERNAL_CMSEARCH {
        ext.args = '--noali --hmmonly -Z 1000 --cut_ga -o /dev/null'
    }

    withName: "AMPLICON_PIPELINE:DETECT_RNA:CMSEARCHTBLOUTDEOVERLAP" {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/sequence-categorisation/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.deoverlapped"
            ]
        ]
    }

    withName: EXTRACTCOORDS {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "sequence-categorisation/*"
            ]
        ]
    }

    withName: MAPSEQ {
        ext.args = '-seed 12 -tophits 80 -topotus 40 -outfmt \'simple\''
    }

    withName: "AMPLICON_PIPELINE:MAPSEQ_OTU_KRONA:MAPSEQ" {
        ext.prefix = { "${meta.id}_${meta.db_label}" }
    }

    withName: MAPSEQ2BIOM {
        publishDir = [[enabled: false]]
        ext.args = '--taxid'
        ext.prefix = { "${meta.id}_${meta.db_label}" }
    }

    withName: PUBLISH_OTU_RESULTS {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.mseq",
                saveAs: { "${meta.id}_${meta.db_label}.mseq" }
            ],
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.txt",
                saveAs: { "${meta.id}_${meta.db_label}.txt" }
            ],
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv",
                saveAs: { "${meta.id}_${meta.db_label}.tsv" }
            ],
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.html",
            ]
        ]
    }

    withName: "AMPLICON_PIPELINE:MAPSEQ_OTU_KRONA:KRONA_KTIMPORTTEXT" {
        publishDir = [[enabled: false]]
    }

    withName: "AMPLICON_PIPELINE:MAPSEQ_ASV_KRONA:MAPSEQ" {
        ext.prefix = { "${meta.id}_${meta.asv_label}" }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.asv_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.mseq",
                saveAs: { "${meta.id}_${meta.asv_label}.mseq" }
            ]
        ]
    }

    withName: "AMPLICON_PIPELINE:MAPSEQ_ASV_KRONA:KRONA_KTIMPORTTEXT" {
        ext.prefix = { "${meta.id}_${meta.var_region}" }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.asv_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.html",
            ]
        ]
    }

    withName: BBMAP_REFORMAT_STANDARDISE {
        ext.args             = "allowidenticalnames=t trimreaddescription=t"
        ext.paired_args      = "addslash=t spaceslash=t verifypaired=f"
        ext.interleaved_args = "verifyinterleaved=t"
    }

    withName: CLASSIFY_VAR_REGIONS {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/amplified-region-inference/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv"
            ],
            [
                path: { "${params.outdir}/${meta.id}/amplified-region-inference/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*S.V*.txt" 
            ]
        ]
    }

    withName: CUTADAPT {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/primer-identification/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.json"
            ]
        ]
        ext.args = "-n 2"
    }

    withName: PRIMER_VALIDATION_SEARCH {
        ext.args = '-g --noali'
    }

    withName: PRIMER_VALIDATION_DEOVERLAP {
        publishDir = [
            [
                enabled: false
            ]
        ]
        ext.args = '-s'
    }

    withName: PRIMER_VALIDATION_CLASSIFY_VAR_REGIONS{
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/primer-identification/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*primer_validation.tsv"
            ],
            [
                path: { "${params.outdir}/${meta.id}/primer-identification/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*primers.fasta"
            ]
        ]
    }

    withName: DADA2 {
        // if the flow fails twice with average resources it likely means that a complex,
        // deeply sequenced sample is being analysed (e.g. from soil). A more drastic
        // approach is therefore needed (boost in cpu+time). If it fails despite
        // the boost, we don't retry, as this could lead to wasted resources -
        // though we will have to investigate further.

        cpus =   { task.attempt < 3 ? 4 *    task.attempt : 48 }
        time   = { task.attempt < 3 ? 12.h * task.attempt : 144.h }
        memory = { 8.GB * Math.pow(4, task.attempt - 1) }

        maxRetries = 2

        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*dada2_errors.txt"
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*dada2_stats.tsv"
            ],
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*asvs.fasta",
                saveAs: { "${meta.id}_asv_seqs.fasta" }
            ]
        ]
    }

    withName: MAKE_ASV_TAX_COUNT_TABLES {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${meta.asv_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*asv_krona_counts.txt",
                saveAs: { "${meta.id}_${meta.var_region}_${meta.asv_label}_asv_krona_counts.txt" }
            ]
        ]
    }

    withName: MAKE_ASV_COUNT_TABLES {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/asv/${meta.var_region}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*_asv_read_counts.tsv"
            ]
        ]
    }

    withName: MAPSEQ2ASVTABLE {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv",
                saveAs: { "${meta.id}_${meta.asv_label}_asv_tax.tsv" }
            ]
        ]
    }

    withName: 'MULTIQC_STUDY' {
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*multiqc_report.html",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        else {
                            return filename;
                        }
                    }
                }
            ]
        ]
        ext.prefix = {"${meta.id}"}
    }

    withName: 'MULTIQC_RUN' {
        publishDir = [
            [
                path: {"${params.outdir}/${meta.id}/qc"},
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*multiqc_report.html",
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        else {
                            return filename;
                        }
                    }
                }
            ]
        ]
        ext.prefix = {"${meta.id}_multiqc_report"}
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
