/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Database config for end-to-end test with no ASV databases (all run_asv = false)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    mapseq_databases {
        silva_ssu {
            fasta     = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-SSU/SILVA-SSU_small.fasta"
            tax       = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-SSU/SILVA-SSU_small-tax.txt"
            otu       = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-SSU/SILVA-SSU_small.otu"
            mscluster = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-SSU/SILVA-SSU_small.fasta.mscluster"
            label     = "SILVA-SSU"
            run_otu   = true
            run_asv   = false
        }
        silva_lsu {
            fasta     = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-LSU/SILVA-LSU_small.fasta"
            tax       = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-LSU/SILVA-LSU_small-tax.txt"
            otu       = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-LSU/SILVA-LSU_small.otu"
            mscluster = "${projectDir}/assets/test-fixtures/test-ref-dbs/SILVA-LSU/SILVA-LSU_small.fasta.mscluster"
            label     = "SILVA-LSU"
            run_otu   = true
            run_asv   = false
        }
        pr2 {
            fasta     = "${projectDir}/assets/test-fixtures/test-ref-dbs/PR2/PR2_small.fasta"
            tax       = "${projectDir}/assets/test-fixtures/test-ref-dbs/PR2/PR2_small-tax.txt"
            otu       = "${projectDir}/assets/test-fixtures/test-ref-dbs/PR2/PR2_small.otu"
            mscluster = "${projectDir}/assets/test-fixtures/test-ref-dbs/PR2/PR2_small.fasta.mscluster"
            label     = "PR2"
            run_otu   = true
            run_asv   = false
        }
        itsone {
            fasta     = "${projectDir}/assets/test-fixtures/test-ref-dbs/ITSone/ITSone_small.fasta"
            tax       = "${projectDir}/assets/test-fixtures/test-ref-dbs/ITSone/ITSone_small-tax.txt"
            otu       = "${projectDir}/assets/test-fixtures/test-ref-dbs/ITSone/ITSone_small.otu"
            mscluster = "${projectDir}/assets/test-fixtures/test-ref-dbs/ITSone/ITSone_small.fasta.mscluster"
            label     = "ITSoneDB"
            run_otu   = true
            run_asv   = false
        }
        unite {
            fasta     = "${projectDir}/assets/test-fixtures/test-ref-dbs/UNITE/UNITE_small.fasta"
            tax       = "${projectDir}/assets/test-fixtures/test-ref-dbs/UNITE/UNITE_small-tax.txt"
            otu       = "${projectDir}/assets/test-fixtures/test-ref-dbs/UNITE/UNITE_small.otu"
            mscluster = "${projectDir}/assets/test-fixtures/test-ref-dbs/UNITE/UNITE_small.fasta.mscluster"
            label     = "UNITE"
            run_otu   = true
            run_asv   = false
        }
    }
}
